@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Ubuntu:wght@500&display=swap");

:root {
  --main-bg-color: #1B1F27;
  --secondary-bg-color: #2E3740;
  --primary-color: #536877;
  --boost-color: #A2C6BE;
  --white-color: #E9E7E7;
}
html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0px 10px 10px 10px;
  color: var(--white-color);
}

body > div {
  height: 100%;
  width: 100%;
  
}

h1, h2,h3,h4 {
  font-family: 'Ubuntu', sans-serif;
}
* {
  font-family: 'Cabin', sans-serif;
  box-sizing: border-box;
}